@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap");

:root {
  --primary-color: #14b8a6;
  --dark-gray: #475569;
  --off-white: #e2e8f0;
}

body {
  font-family: "Montserrat", sans-serif;
  margin: 0rem auto;
  max-width: 60%;
  width: 100%;
}

hr {
  margin: 2rem 0rem;
}

/** spaces **/

.margin-md {
  margin: 2rem;
}

/* container */

.containner {
  padding: 0rem 1rem;
}

.container-center {
  /* text-align: center; */
  max-width: 900px;
  width: 80%;
  margin: auto;
}

/*  links  */
.link {
  text-decoration: none;
  padding: 0.5rem 1rem;
}

.link-primary {
  max-width: 140px;
  border-radius: 2rem;
  padding: 0.6rem 1.2rem;
  margin: 1rem;
  background-color: var(--primary-color);
  color: white;
}

.link-secondary {
  max-width: 140px;
  border-radius: 2rem;
  padding: 0.6rem 1.2rem;
  margin: 1rem;
  color: var(--primary-color);
  border: 1px solid var(--primary-color);
}

/* lists */

.list-no-bullets {
  list-style-type: none;
}

.list-center {
  margin: 0;
  padding: 0;
}
.list-item-inline {
  display: inline;
  margin: 0rem 0.5rem;
}

/* navigation */
.navigation {
  background-color: var(--primary-color);
  padding: 1rem;
  color: white;
  border-radius: 1rem 1rem 1rem 0rem;
}

.navigation .nav-brand {
  font-weight: bold;
}

.navigation .nav-pills {
  text-align: right;
  margin: 0.6rem 1rem;
}

.navigation .link {
  color: white;
  border-radius: 1rem;
}
.navigation .link:hover {
  color: var(--primary-color);
  background-color: white;
}
.navigation .link-active {
  font-weight: bold;
}

/* header */

.hero {
  padding: 2rem;
  padding-top: 5rem;
}

.hero .hero-img {
  max-width: 80%;
  width: 350px;
  display: block;
  margin: auto;
  padding-bottom: 2rem;
}

.hero .hero-heading {
  color: var(--dark-gray);
  text-align: center;
}

.hero .hero-heading .heading-inverted {
  color: var(--primary-color);
}

/* section */
.section {
  padding: 2rem;
  margin: 2rem 0rem;
  text-align: center;
  border-radius: 1rem;
}

.section-offwhite {
  background-color: var(--off-white);
}

.section .section-content {
  margin: 1rem;
  padding: 1rem;
}

.footer {
  background-color: var(--primary-color);
  padding: 2rem;
  color: white;
  text-align: center;
  border-radius: 0rem 1rem 1rem 1rem;
}

.footer .footer-header {
  font-weight: bold;
}

.footer .link-footer {
  color: white;
  border-radius: 1rem;
}
.footer .link-footer:hover {
  color: var(--primary-color);
  background-color: white;
}

.footer ul {
  padding: 0rem;
}

.work-in-progress {
  text-align: center;
  font-size: 40px;
  font-weight: bold;
  color: var(--primary-color);
}

@media (max-width: 900px) {
  body {
    max-width: 95%;
    width: 100%;
  }

  .list-item-inline {
    display: inline;
    padding: 0rem;
  }

  .container-center {
    width: auto;
  }

  .projects .link {
    display: block;
    width: 100%;
    margin: 1rem auto;
  }
}
