@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    @apply bg-primary font-primary leading-loose text-white selection:bg-rose-500;
  }

  /* heading styles */
  .h1 {
    @apply text-[48px] font-semibold leading-[1.1] xl:text-[60px];
  }

  .h2 {
    @apply text-[36px] font-semibold leading-[1.1] xl:text-[48px];
  }

  .h3 {
    @apply text-[20px] font-semibold leading-[1.1] xl:text-[24px];
  }

  /* text outline style for project index */
  .text-outline {
    -webkit-text-stroke: 1px white;
  }

  .text-outline-hover {
    -webkit-text-stroke: 1px #00ff99;
  }

  /* scrollbar style */
  ::-webkit-scrollbar {
    @apply w-1
  }

  ::-webkit-scrollbar-track {
    @apply bg-primary my-1;
  }

  ::-webkit-scrollbar-thumb {
    @apply bg-accent rounded-full;
  }

  ::-webkit-scrollbar-thumb:hover {
    @apply bg-accent-hover
  }

  /* autofill style */
  input:-webkit-autofill {
    -webkit-text-fill-color: white;
    -webkit-box-shadow: 0 0 0px 30px #1b1e28 inset;
    transition: background-color 5000s ease-in-out 0s;
    caret-color: white;
  }

  input:-webkit-autofill:focus {
    @apply bg-primary;
  }
}